fastapi
uvicorn
pymongo
passlib[bcrypt]
bcrypt==3.2.2
python-jose
python-multipart
fastapi-mail

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.3.2
joblib==1.3.2

qiskit
qiskit-machine-learning
pennylane